<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-7 animated zoomIn">
    <!-- <img class="img-rounded"  >
    <h1>{{$routeParams.zone}}</h1> -->

    <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" style="height: 150px; width: 150px;" ng-src="{{badge}}" alt="badge">
      </a>
    </div>
    <div class="media-body media-middle">
      <h2 class="media-heading main-heading">{{$routeParams.zone}}</h2>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Hydrant Totals for {{today}}</th>
      </tr>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  </div>
  <div class="col-xs-6 col-md-5 animated zoomIn">
    <p>This is the responseZone view.</p>
    <leaflet geojson="geojson" width="100%" height="480px"></leaflet>
  </div>

<!-- {{$route}}
{{$location}} -->

</div>
