<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 animated zoomIn">
    <!-- <img class="img-rounded"  >
    <h1>{{$routeParams.zone}}</h1> -->

    <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" style="height: 150px; width: 150px;" ng-src="{{badge}}" alt="badge">
      </a>
    </div>
    <div class="media-body media-middle">
      <h2 class="media-heading main-heading">{{$routeParams.zone}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 animated zoomIn">
      <totals-table data="reportTotals.daily" title="today" ></totals-table>
    </div>
    <div class="col-md-6 animated zoomIn">
      <totals-table data="reportTotals.total" title="'Project'" ></totals-table>
    </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-8 animated zoomIn">
    <div class="map-left">
      <totals-table data="reportTotals.total" title="'Project'" ></totals-table>
    </div>
    <div class="map-right">
    <h4>Search: <input ng-model="searchText"></h4>
    <leaflet geojson="geojson" width="100%" height="480px"></leaflet>
  </div>
  </div>

<!-- {{$route}}
{{$location}} -->

</div>
<div class="row">
  <div class="col-md-12 animated zoomIn">
    <table class="repairList table table-hover">
      <thead>
        <tr>
          <th colspan="2">
            Repair Lists: <select ng-options="repair.name for repair in needsRepair" ng-model="selected"></select>
          </th>
          <th colspan="3">Search: <input ng-model="searchText"></th>
        </tr>
        <tr class="table-headings">
          <th>Raleigh ID</th>
          <th>Jurisid</th>
          <th>Address</th>
          <th>Ownership</th>
          <th>Manufacturer</th>
          <th>Year</th>
          <th>Valve Diameter</th>
          <th>Pumper Nozzel</th>
          <th>Side Nozzel</th>
          <th>Operable</th>
          <th>Needs Repair</th>
          <th>Notes</th>
          <th>RFD_Notes</th>
          <th>Checked</th>
          <th>Station</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="feature in selected.data | filter:searchText | limitTo: 10">
          <td>{{feature.FACILITYID}}</td>
          <td>{{feature.JURISID || 'N/A'}}</td>
          <td>{{feature.STNUM}} {{feature.STNAME}} {{feature.STTYPE}}</td>
          <td ng-if="feature.OWNEDBY">Private</td>
          <td ng-if="!feature.OWNEDBY">Public</td>
          <td>{{feature.MANUFACTURER || 'N/A'}}</td>
          <td>{{feature.HYDRANTYEAR || 'N/A'}}</td>
          <td>{{feature.VALVESIZE || 'N/A'}}</td>
          <td>{{feature.PUMPERNOZZLETYPE || 'N/A'}}</td>
          <td>{{feature.SIDENOZZLETYPE || 'N/A'}}</td>
          <td ng-if="feature.OPERABLE === 'Y'">{{'YES' || 'N/A'}}</td>
          <td ng-if="feature.OPERABLE === 'N'">{{'No' || 'N/A'}}</td>
          <td ng-if="feature.REPAIRNEED">{{'True' || 'N/A'}}</td>
          <td ng-if="!feature.REPAIRNEED">{{'False' || 'N/A'}}</td>
          <td>{{feature.NOTES || 'N/A'}}</td>
          <td>{{feature.RFD_NOTES || 'N/A'}}</td>
          <td>{{feature.CHECKED || 'N/A'}}</td>
          <td>{{feature.RFD_STATION || 'N/A'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
