<div ng-show="data">
  <div ng-hide="view" class="panel panel-primary report-panel">
    <div class="panel-heading">{{defaultTitle}} {{title}}</div>
      <div class="panel-body">
        <table  class="totalsReport table table-hover">
          <!-- <thead>
            <tr>
              <th>{{defaultTitle}} {{title}}</th>
            </tr>
            <tr class="table-headings">
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead> -->
          <tbody>
            <tr ng-repeat="(key, value) in data">
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


<div ng-show="view" class="panel panel-primary">
  <div class="panel-heading">{{defaultTitle}} {{title}}</div>
    <div class="panel-body">
    <table class="totalsReport table table-hover">
      <tbody class="scroll-tbody">
        <tr id="table-features" ng-repeat="(key, value) in data" ng-switch="key">
          <td ng-if="key !== 'JURISID' && key !== 'RFD_NOTES' && key !== 'NOTES' && key !== 'STNAME' && key !== 'STNUM' && key !== 'STENUM' && key !== 'STPREFIX' && key !== 'STSUFFIX' && key !== 'STTYPE'">{{key}}</td>
          <td ng-if="key === 'JURISID'">Tag ID</td>
          <td ng-if="key === 'RFD_NOTES'">Fire Notes</td>
          <td ng-if="key === 'NOTES'">Public Utilities Notes</td>
          <td ng-if="key === 'STNAME'">Street Name</td>
          <td ng-if="key === 'STNUM'">Street Number</td>
          <td ng-if="key === 'STENUM'">Suite Number</td>
          <td ng-if="key === 'STPREFIX'">Street Prefix</td>
          <td ng-if="key === 'STSUFFIX'">Street Suffix</td>
          <td ng-if="key === 'STTYPE'">Street Type</td>
          <td ng-switch-when="OWNEDBY" id="table-values" ng-if="value === 0">City of Raleigh</td>
          <td ng-switch-when="OWNEDBY" id="table-values" ng-if="value === 1">Private</td>
          <td ng-switch-when="OWNEDBY" id="table-values" ng-if="value === 2">Private</td>
          <td ng-switch-when="EDITEDON" id="table-values">{{value | date : short}}</td>
          <td ng-switch-when="CREATEDON" id="table-values">{{value | date : short}}</td>
          <td ng-switch-when="OPERABLE" id="table-values" ng-if="value === 'Y'">Yes</td>
          <td ng-switch-when="OPERABLE" id="table-values" ng-if="value === 'No'">No</td>
          <td ng-switch-when="CHECKED" id="table-values" ng-if="value === 'Y'">Yes</td>
          <td ng-switch-when="CHECKED" id="table-values" ng-if="value === 'N'">No</td>
          <td ng-switch-when="REPAIRNEED" id="table-values" ng-if="value">True</td>
          <td ng-switch-when="REPAIRNEED" id="table-values" ng-if="!value">False</td>
          <td ng-switch-when="FLOWED" id="table-values" ng-if="value">True</td>
          <td ng-switch-when="FLOWED" id="table-values" ng-if="!value">False</td>
          <td ng-switch-default id="table-values">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
